body {
  font-family: 'JetBrains-Mono', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sidebar {
  width: 25%;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.sidebar .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
  font-size: 24px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.sidebar h3 {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sidebar p.aboutme {
  font-size: 16px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease, font-size 0.3s ease, transform 0.3s ease;
}

.sidebar p.aboutme:hover {
  color: #fff;
  font-size: 17px;
  transform: scale(1.1);
}

.main-content {
  width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.tile {
  text-align: center;
}

.tile h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tile p {
  font-size: 18px;
  line-height: 1.6;
}

.tile ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.tile ul li {
  display: inline;
}

.tile ul li:not(:last-child)::after {
  content: ",";
  margin-right: 5px;
}

pmoozyl {
  font-size: 20px;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.lang {
  color: #007bff;
  font-size: 20px;
}